---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import config from "../data/config.json";

import { createClient } from "../utils";
import { Image } from "astro:assets";
---

<Layout title={config.businessName} description={config.description}>
  <h1>Lookbook</h1>
</Layout>
