---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import config from "../data/config.json";

import { createClient } from "../utils";
import { Image } from "astro:assets";
---


<Layout title={config.businessName} description={config.description}>
  <div class='min-h-screen flex flex-col items-center gap-4'>
  <h1 class="text-2xl md:text-4xl">INFO</h1>
  <h1 class="font-bold">Stockists </h1>
<div>

  <h1>SHAKES</h1>
  <h1>35B Vulcan Lane, Auckland NZ</h1>
</div>
  </div>
</Layout>
